<phpunit
  bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  verbose="true"
  syntaxCheck="true"
  >
  <testsuites>
    <testsuite>
      <directory prefix="test-" suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
  </logging>
  <php>
    <env name="PLUGIN_FILE" value="duracelltomi-google-tag-manager-for-wordpress.php"/>
    <ini name="display_errors" value="false"/>
    <ini name="display_startup_errors" value="true"/>
  </php>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./</directory>
      <file>/path/to/file</file>
      <exclude>
        <directory suffix=".php">./</directory>
        <file>/path/to/file</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
